{% extends 'base.html.twig' %}

{% block title %}Mentions légales{{parent()}}
{% endblock %}
{% block body %}
	<h3>Mentions légales</h3>
	<address>
		Association Supercombo
		<br>
		30 rue de Jean Dupont 75000 Paris
		<br>
		SIRET : 000 000 000 0000
	</address>
	<h4>Contact</h4>
	<ul>
		<li>Téléphone au +33 (0)6 33 01 52 54</li>
		<li>Mail : supercombo.org@gmail.com</li>
	</ul>
	<h4>Crédits</h4>
	Conception et production :
	<p>Ce site a été réalisé avec Symfony par Madické Thiane.</p>
{% endblock %}
