{% extends 'base.html.twig' %}
{% block title %}
{% trans %}legal.tag{% endtrans %}{{parent()}}
{% endblock %}
{% block body %}
	<h3>{% trans %}legal.tag{% endtrans %}</h3>
	<address>
		Supercombo
		<br>
		30 rue de Jean Dupont 75000 Paris
		<br>
		SIRET : 000 000 000 0000
	</address>
	<h4>Contact</h4>
	<ul>
		<li>{% trans %}legal.tel{% endtrans %} +33 (0)6 33 01 52 54</li>
		<li>{% trans %}legal.mail{% endtrans %}supercombo.org@gmail.com</li>
	</ul>
	<h4>{% trans %}legal.credits.title{% endtrans %}</h4>
	{% trans %}legal.credits.conc-prod{% endtrans %}
	<p>{% trans %}legal.credits.descritption{% endtrans %}</p>
{% endblock %}
