<footer class="footer mt-auto py-3 bg-light">
	<div class="container">
		<p class="float-end mb-1">
			<a href="#">Back to top</a>
		</p>
		<span class="text-muted">Place sticky footer content here.</span>
	</div>
</footer>
