<footer class="footer mt-5 py-3 bg-light">
	<div class="container">
		<p>
			<a href="{{path('mentions_legales')}}">
				<h3 class="d-inline h6">Mentions légales</h3>
			</a>
		</p>
		<p>
			<a href="{{path('politique_confidentialite')}}">
				<h3 class="d-inline h6">Politique de confidentialité</h3>
			</a>
		</p>
		<p class="float-end mb-1">
			<a href="#"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.-vxUUM3bELZ76XoqvjIcUwHaHa%26pid%3DApi&f=1" alt="flèche" style="width : 30px"></a>
		</p>
		<p>
			<a href="https://www.instagram.com/super_combo_dbs/"><img src="{{ asset('assets/img/instagramIcon.png') }}" alt="instagram" style="width : 30px"></a>
			<a href="https://www.youtube.com/channel/UCeArYa74aJ301rADt5wxp7w"><img src="{{ asset('assets/img/youtubeIcon.png') }}" alt="youtube" style="width : 40px"></a>
		</p>
	</div>
</footer>
